<div class="footer">
	<table>
		<tr>
			<td><a href="http://www.lbl.gov/" target="_blank"><img src="{{STATIC_URL}}seed/images/logo_LBNL.png" alt="Berkeley Lab | Lawrence Berkeley National Laboratory" width="77" height="66" /></a>
			</td>
			<td><a href="http://energy.gov/eere/buildings/standard-energy-efficiency-data-platform" target="_blank"><img src="{{STATIC_URL}}seed/images/logo_DOE.png" alt="U.S. Department of Energy | Energy Efficiency and Renewable Energy" title="U.S. Department of Energy | Energy Efficiency and Renewable Energy" width="249" height="36" /></a>
			</td>
			<td><a href="https://www.buildingenergy.com/" target="_blank"><img src="{{STATIC_URL}}landing/images/logo_BE.png" alt="Building Energy Inc" title="Building Energy Inc" width="200" height="29"></a>
			</td>
		</tr>
	</table>	
</div>