<div class="section">
    <div class="section_content_container">
        <div class="section_content">
            <div class="content_block row">
	            <div class="col-md-8 col-sm-8">
	            	<h1>Feedback</h1>
		            <p>We invite you to join the SEED online support chat room, sit in and speak up with your questions and feedback on the software.</p>
		            <p>To better foster collaboration between regions you will be able to see the conversations of your colleagues in other cities and even ping them directly!</p>
		            <p>You can also email the SEED support team at <a href="mailto:seed-support@lists.lbl.gov">seed-support@lists.lbl.gov</a>.</p>
		            <a href="http://www.hipchat.com/gFln9XnMP" target="_blank" class="btn btn-lg btn-primary" style="margin-top: 10px;" role="button">Join the SEED chat room</a>
	            </div>
            </div>
        </div>
    </div>
</div>